@model WDTAssignment2NWBA.DataAccessLayer.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Customer</legend>

        @Html.HiddenFor(model => model.CustomerID)

        <div class="editor-label">
            @Html.LabelFor(model => model.CustomerName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CustomerName)
            @Html.ValidationMessageFor(model => model.CustomerName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TFN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TFN)
            @Html.ValidationMessageFor(model => model.TFN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.State, new List<SelectListItem> { new SelectListItem { Text = "VIC", Value = "VIC" }, new SelectListItem { Text = "SA", Value = "SA" }, new SelectListItem { Text = "NT", Value = "NT" }, new SelectListItem { Text = "ACT", Value = "ACT" },new SelectListItem { Text = "NSW", Value = "NSW" },new SelectListItem { Text = "QLD", Value = "QLD" },new SelectListItem { Text = "WA", Value = "WAS" },new SelectListItem { Text = "TAS", Value = "TAS" } })
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostCode)
            @Html.ValidationMessageFor(model => model.PostCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
            @Html.HiddenFor(model => model.CustomerID)


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
