@model IEnumerable<WDTAssignment2NWBA.DataAccessLayer.BillPay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
@*    @Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.AccountType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payee.PayeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Period)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.ModifyDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StopDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StoppedBy)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.AccountType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payee.PayeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
@*        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StopDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StoppedBy)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BillPayID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BillPayID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BillPayID })
        </td>
    </tr>
}

</table>
